ul{
    list-style: none;
}
li{
    display: inline;
}
body{
    background-image: url("images/eggs.jpg");
    background-size:100% 100vh;
    font-family: googleFont;
}
@font-face{
    font-family: googleFont;
    src: url("/fonts/Product-Sans-Regular.ttf");
}
h1{
    font-size: 400%;
    text-shadow: 2px 2px #626260;
    text-align: center;
    margin-top: 4vh;
    padding: 2vh;
}
img{
    width: 30vh;
    height: 30vh;
    margin: 2vh;
    margin-top: 5vh;
    transition: transform 1s;
}
img:hover{
    transform: scaleX(-1);
}
#container{
    height: 60vh;
    width: 150vh;
    background-color: #F6F4E9;
    margin: auto;
    opacity: 0.98;
    border-radius: 50px;
}